# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

print(df.shape)
print(df.columns)

(11127, 6)
Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')

In [6]:
print(df.isna().sum())

Código de país                            0
Nombre del país                           0
Región                                    0
Año                                       0
CO2 (kt)                               2095
CO2 per cápita (toneladas métricas)    2098
dtype: int64

In [7]:
df_copy= df.copy()

In [8]:
df_copy.dropna(inplace = True)

In [13]:
print(df_copy.shape)
print(df.shape)

(9029, 6)
(11127, 7)

In [11]:
print(df_copy['Código de país'].shape)

(9029,)

In [18]:
df_copy['clave_hash']=df_copy['Código de país'].apply(hash_function)

df_copy.head(100)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),clave_hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910
...,...,...,...,...,...,...,...
156,AGO,Angola,África subsahariana,1960,"550,05",0.104357,893
157,AGO,Angola,África subsahariana,1961,"454,708",0.084718,893
158,AGO,Angola,África subsahariana,1962,"1.180,77",0.216025,893
159,AGO,Angola,África subsahariana,1963,"1.151,44",0.206877,893
160,AGO,Angola,África subsahariana,1964,"1.224,78",0.216174,893

In [24]:
df_notdupli = df_copy[['clave_hash','Código de país','Nombre del país','Región']].drop_duplicates()

df_notdupli.head()

     clave_hash Código de país Nombre del país                   Región
26          910            ABW           Aruba  América Latina y Caribe
87          870            AND         Andorra    Europa y Asia Central
104         858            AFG      Afganistán              Sur de Asia
156         893            AGO          Angola      África subsahariana
208         856            ALB         Albania    Europa y Asia Central

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [28]:
df_notdupli.drop(['Código de país','Región','Nombre del país'], axis=1)

print('Hello World')

Hello World